In [2]:
import pandas as pd

##list - index always numeric
series- index can be anything

In [4]:
fruits=['kiwi','mango','bannana','strwberry']-

In [5]:
pd.Series(fruits)

0         kiwi
1        mango
2      bannana
3    strwberry
dtype: object

In [7]:
roll_no=[0,1,2,3,4,5]

In [11]:
pd.Series(roll_no,dtype=int)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [12]:
dict ={'name':'pavan','address':'nashik','cont_no':'8407910087'}

In [13]:
pd.Series(dict)

name            pavan
address        nashik
cont_no    8407910087
dtype: object

    Attribute for series
    Attribute do not modify,manipulate,distroy,operation object
    Attibute return information of object they view it and give some info about it 
    Attribute is more kind of passive

In [16]:
dict={'1':'one','2':'two','3':'three'}

In [23]:
s=pd.Series(dict.keys())

In [24]:
s

0    (1, 2, 3)
1    (1, 2, 3)
2    (1, 2, 3)
dtype: object

In [26]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
s.values

array([dict_keys(['1', '2', '3']), dict_keys(['1', '2', '3']),
       dict_keys(['1', '2', '3'])], dtype=object)

In [28]:
s.dtype

dtype('O')

    Series Method
    method dcan  modify and manupulate a object 
    it is active

In [29]:
prices=[1.2,4.5,5.5,1.6,99,1.54]

In [30]:
price_series=pd.Series(prices)

In [31]:
price_series

0     1.20
1     4.50
2     5.50
3     1.60
4    99.00
5     1.54
dtype: float64

In [32]:
price_series.sum()

113.34

In [36]:
price_series.sub(0.5)

0     0.70
1     4.00
2     5.00
3     1.10
4    98.50
5     1.04
dtype: float64

In [41]:
price_series.dtype

dtype('float64')

In [42]:
price_series

0     1.20
1     4.50
2     5.50
3     1.60
4    99.00
5     1.54
dtype: float64

In [4]:
numbers=['one','two','three','four','five','six','saven']
digits=[1,2,3,4,5,6,7]

In [5]:
pd.Series(numbers,digits)

1      one
2      two
3    three
4     four
5     five
6      six
7    saven
dtype: object

In [6]:
pd.Series(index=digits,data=numbers)

1      one
2      two
3    three
4     four
5     five
6      six
7    saven
dtype: object

In [50]:
pd.Series(numbers,index=digits)

1      one
2      two
3    three
4     four
5     five
6      six
7    saven
dtype: object